<ol class="legend">
  <li>
    <h4>Máscara</h4>
    <article>
      <img src="assets/images/required-mask.png" alt="Imagem sobre o uso obrigatório da máscara">
      <span>Obrigatório</span>
    </article>
    <article>
      <img src="assets/images/recommended-mask.png" alt="Imagem sobre o uso recomendado de máscara">
      <span>Recomendado</span>
    </article>
  </li>
  <li>
    <h4>Toalha</h4>
    <article>
      <img src="assets/images/required-towel.png" alt="Imagem sobre o uso obrigatório da toalha">
      <span>Obrigatório</span>
    </article>
    <article>
      <img src="assets/images/recommended-towel.png" alt="Imagem sobre o uso recomendado de toalha">
      <span>Recomendado</span>
    </article>
  </li>
  <li>
    <h4>Bebedouro</h4>
    <article>
      <img src="assets/images/partial-fountain.png" alt="Imagem sobre o uso obrigatório da máscara">
      <span>Parcial</span>
    </article>
    <article>
      <img src="assets/images/forbidden-fountain.png" alt="Imagem sobre o uso recomendado de máscara">
      <span>Proibido</span>
    </article>
  </li>
  <li>
    <h4>Vestiários</h4>
    <article>
      <img src="assets/images/required-lockerroom.png" alt="Imagem sobre o uso obrigatório da máscara">
      <span>Liberado</span>
    </article>
    <article>
      <img src="assets/images/partial-lockerroom.png" alt="Imagem sobre o uso recomendado de máscara">
      <span>Parcial</span>
    </article>
    <article>
      <img src="assets/images/forbidden-lockerroom.png" alt="Imagem sobre o uso recomendado de máscara">
      <span>Fechado</span>
    </article>
  </li>
</ol>
